# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives:___
1. Create a Jupyter Notebook with markdown and code cells
2. List examples of languages, libraries and tools used in Data Science
3. Share your Jupyter Notebook publicly on GitHub
4. Evaluate notebooks submitted by your peers using the provided rubric
5. Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Julia
5. Java & Java Script
6. C & C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Ggplot2
4. dplyr
5. Matplotlib
6. caret

|Data Science Tools|
|-------|
|Jupyter Lab|
|VS Code|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Foong Wei Lek